#!/bin/bash

# Guide:
#
# 1. Copy this file to .env
#
#    cp .env-sample .env
#
# 2. Fill the blanks

export NODE_ENV=development
export PORT=8080
export CLIENTID=
export CLIENTSECRET=
export REDIRECTURI=

#prompt
PREFIX="[SpotifyWepAPIlaarnio] "
if [[ $PS1 != *"$PREFIX"* ]]
then
    export PS1="$PREFIX $PS1"
    echo "Environment variables set!"
else
    echo "Environment variables updated!"
fi
